.min {
	@include m('h-100') { min-height: 100px; }
}
.position {
	@include m('r') { position: relative; }
}
.z-index {
	@include m('t') { z-index: 1; }
}
.transition {
	@include m('f') { transition: all $f-t; }
	@include m('s') { transition: all $s-t; }
}
.border {
	@include m('r') {
		&-sm { border-radius: 4px; }
	}
}
.cursor {
	@include m('pointer') { cursor: pointer; }
}