.board-list {
	@extend .list-unstyled;
  @extend .clearfix;
}

.board {
  @extend .panel;
  @extend .min--h-100;
  display: block;
  padding: 10px;
  transition: background-color $f-t;
}

.create-board-show {
  @extend .panel;
  @extend .min--h-100;
  cursor: pointer;
  padding: 10px;
  transition: background-color $f-t;
}

.create-board-form {
  @extend .panel;
  padding: 10px;
  opacity: 0;
  transition: opacity $f-t;
  &.active {
    opacity: 1;
  }
}

.create-board-hide,
.hide-board-settings {
  @extend .icon;
  @extend .icon-sm;
  @extend .icon-hide;
  float: right;
}

.create-board-header {
  @extend .clearfix;
  text-align: center;
  border-bottom: 1px solid;
}

.create-board-body {
  padding-top: 10px;
}

.favorite-board,
.delete-board {
  @extend .icon;
  @extend .icon-sm;
	float: right;
  opacity: 0.5;
  transform: scale(1);
  transition: transform .1s;
  &:hover,
  &.active {
    opacity: 1;
    transform: scale(1.2);
  }
}

.favorite-board {
  @extend .fa;
  @extend .fa-star-o;
}

.delete-board {
  @extend .fa;
  @extend .fa-times;
}

.board-name { cursor: pointer; }

.rename-board {
  @extend .btn;
  @extend .btn-default;
  display: none;
  margin-left: 10px;

  &.is-shown { display: inline-block; }
}

.board-visibility {
  @extend .form-control;
}

.board-settings {
  @extend .clearfix;
  z-index: 2000;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 320px;
  padding: 10px;
  transform: translateX(100%);
  transition: transform $f-t;
  &.is-shown { transform: translateX(0); }
}

.members,
.potential-members-list {
  @extend .list-unstyled;
}

.member,
.potential-member-to-invite {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

.invite-members-section {
  margin-bottom: 5px;
}

.member-to-invite {
  @extend .form-control;
}

.potential-members-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.potential-members-list {
  display: none;
  &.is-shown { display: block; }
}