.board-list {
	@extend .list-unstyled;
  @extend .clearfix;
}

.board {
  @extend .panel;
  @extend .min--h-100;
  display: block;
  padding: 10px;
  transition: background-color $f-t;
}

.create-board-show {
  @extend .panel;
  @extend .min--h-100;
  cursor: pointer;
  padding: 10px;
  transition: background-color $f-t;
}

.create-board-form {
  @extend .panel;
  padding: 10px;
  opacity: 0;
  transition: opacity $f-t;
  &.active {
    opacity: 1;
  }
}

.create-board-hide {
  @extend .icon;
  @extend .icon-sm;
  @extend .icon-hide;
  float: right;
}

.create-board-header {
  @extend .clearfix;
  text-align: center;
  border-bottom: 1px solid;
}

.create-board-body {
  padding-top: 10px;
}

.favorite-board,
.delete-board {
  @extend .icon;
  @extend .icon-sm;
	float: right;
  opacity: 0.5;
  transform: scale(1);
  transition: transform .1s;
  &:hover,
  &.active {
    opacity: 1;
    transform: scale(1.2);
  }
}

.favorite-board {
  @extend .fa;
  @extend .fa-star-o;
}

.delete-board {
  @extend .fa;
  @extend .fa-times;
}

.board-name { cursor: pointer; }

.rename-board {
  @extend .btn;
  @extend .btn-default;
  display: none;
  margin-left: 10px;

  &.is-shown { display: inline-block; }
}