.lists {
	@extend .list-unstyled;
	@extend .clearfix;
}

.list-wrapper {
	@extend .col-sm-3;
}

.list-header {
	@extend .clearfix;
	position: relative;
	margin-bottom: 10px;
}

.list {
	@extend .panel;
	padding: 10px;
}

.list-header .list-name { cursor: pointer; }

.delete-list,
.create-list-hide {
	@extend .icon;
	@extend .icon-sm;
	@extend .icon-hide;
	@extend .pull-right;
}

.rename-list {
	@extend .btn;
	@extend .btn-default;
	margin-left: 10px;
	display: none;

	&.is-shown { display: inline-block; }
}

.create-list {
	cursor: pointer;
	border-radius: 4px;
	padding: 5px;
}

.create-list-form {
	@extend .panel;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 0;
	display: none;
	
	&.is-shown { display: block; }
}

.create-list-header {
	@extend .clearfix;
	border-bottom: 1px solid;
}

.create-list-body {	margin-top: 10px; }