.plc {
	@include m('c') { color: $p-l-c; }
	@include m('bg') { background-color: $p-l-c; }
	@include m('bd') { border-color: $p-l-c; }
	@include m('bdt') { border-top-color: $p-l-c; }
	@include m('bdr') { border-right-color: $p-l-c; }
	@include m('bdb') { border-bottom-color: $p-l-c; }
	@include m('bdl') { border-left-color: $p-l-c; }
}
.slc {
	@include m('c') { color: $s-l-c; }
	@include m('bg') { background-color: $s-l-c; }
	@include m('bd') { border-color: $s-l-c; }
	@include m('bdt') { border-top-color: $s-l-c; }
	@include m('bdr') { border-right-color: $s-l-c; }
	@include m('bdb') { border-bottom-color: $s-l-c; }
	@include m('bdl') { border-left-color: $s-l-c; }
}
.pdc {
	@include m('c') { color: $p-d-c; }
	@include m('bg') { background-color: $p-d-c; }
	@include m('bd') { border-color: $p-d-c; }
	@include m('bdt') { border-top-top: $p-d-c; }
	@include m('bdr') { border-right-top: $p-d-c; }
	@include m('bdb') { border-bottom-top: $p-d-c; }
	@include m('bdl') { border-left-top: $p-d-c; }
}
.sdc {
	@include m('c') { color: $s-d-c; }
	@include m('bg') { background-color: $s-d-c; }
	@include m('bd') { border-color: $s-d-c; }
	@include m('bdt') { border-top-top: $s-d-c; }
	@include m('bdr') { border-right-top: $s-d-c; }
	@include m('bdb') { border-bottom-top: $s-d-c; }
	@include m('bdl') { border-left-top: $s-d-c; }
}
.board {
	&,
	&:focus {
		@extend .pdc--bg;
		@extend .plc--c;
	}
	&:hover {
		@extend .plc--c;
		background-color: darken($p-d-c, 10%);
  }
}
.create-board-show {
	@extend .slc--bg;
	&:hover {
		background-color: darken($s-l-c, 10%);
  }
}
.create-board-header,
.create-card-header,
.edit-card-header,
.create-list-header {
	@extend .slc--bdb;
}
.list,
.create-list {
	@extend .slc--bg;
}
.create-list-form {
	@extend .plc--bg;
}
.card {
	&,
	&:hover,
	&:focus { @extend .sdc--c; }
}
.card .card-name {
	&:hover {
		@extend .sdc--c;
		background-color: lighten($s-l-c, 5%);
	}
}
.edit-card,
.delete-card,
.delete-list {
	@extend .sdc--c;
	&:hover {
		@extend .sdc--c;
		background-color: lighten($s-l-c, 5%);
	}
}
.add-comment-btn {
	background-color: darken($s-l-c, 5%);
	&:hover { background-color: lighten($s-l-c, 5%); }
}
.card-content { @extend .slc--bg; }
.create-card,
.create-list {
	@extend .sdc--c;
	&:hover,
	&:focus { @extend .sdc--c; }
	&:hover { background-color: lighten($s-l-c, 5%); }
}
.board-settings { @extend .pdc--bg; }
.member,
.potential-member-to-invite {
	@extend .slc--bg;
	@extend .pdc--c;
	&:hover { @extend .plc--bg;	}
}
.hide-board-settings { @extend .plc--c; }